*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(54, 143, 54);
    align-content: center;
}
.navMenu ul{
    display: flex;
}
.navMenu ul li{
    margin: 20px;
}