*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
    background-color: rgb(48, 117, 48);
    align-content: center;
    position: fixed;
    top: 0;
}
.header h1 {
    color: white;
}
.navMenu ul{
    display: flex;
}
.navMenu ul li{
    margin: 20px;
    list-style: none;
}
.navMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navMenu ul li a:hover{
    color: black;
}
main{
    width: auto;
    height: 800px;
    margin: 30px;
}
.parag{
    font-size: 25px;
    padding-bottom: 20px;
    margin-top: 150px;
}
#foodItems ul{
    display: flex;
    justify-content: space-evenly;
}
.eachFood img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.eachFood li{
    list-style: none;
}
.eachFood li a{
    font-size: 20px;
}
.eachFood li a:hover{
    color: red;
}
footer{
    background-color: rgb(48, 117, 48);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}