.container {
    width: 90%;
    margin: 0 auto;
}
.container h1 {
    text-align: center;
}
.header img{
    width: 350px;
    height: 300px;
}
.image-para {
    display: flex;
    gap:10px;
}
.image-para p{
    text-align:center ;
}